# Local virtual environment
.venv/

# Python cache and compiled files
__pycache__/
*.py[cod]

# Django local files
*.log
media/
private_imports/

# Local development settings
.env
staff/__pycache__/admin.cpython-314.pyc
staff/__pycache__/admin.cpython-314.pyc
staff/__pycache__/apps.cpython-314.pyc
staff/__pycache__/forms.cpython-314.pyc
staff/__pycache__/signals.cpython-314.pyc
staff/__pycache__/admin.cpython-314.pyc
staff/__pycache__/views.cpython-314.pyc
